body{

    background-color:rgba(128, 128, 128, 0.459);
}
textarea{

    width: 500px;
    height: 400px;
    font-size: 14px;
    font-family: Courier New, Courier, monospace;
}
.mandatory{

    color:red;
}
label{

    color:rgba(76, 0, 255, 0.671);
    font-family: Courier New, Courier, monospace;
}